* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    min-width: 320px;
    font-family: sans-serif;
    min-height: 100vh;
    background: orange;

    &.js-enabled {
        overflow: hidden;
        height: 100vh;
        width: 100vw;
        position: fixed;

        & > main > section {
            position: absolute;
            display: none;
            
            &.active {
                z-index: 10;
                display: flex;
            }
        }
    }
}

main {
    width: inherit;
    height: inherit;
}

.container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
}

section {
    display: flex;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    padding: 0 15px;
    background: orange;

    & h2 {
        align-self: flex-start;
    }
}

.content {
    width: 100%;
    margin: auto 0;
    line-height: 1.7;
    display: flex;
    flex-flow: column nowrap;
    text-align: left;
    // background: orangered;
    padding: 10px;
}